html{
    background-image: url(images);
}

body{
   
    
    font-size: 24px;
}
.phonebody g{
   
   
    
        background-color: aqua;
   
}

.aboutTheStudent{
    position: relative;
}
.aboutTheStudent p{
    display: inline-block;
    position: absolute;
    margin: 30px;
    
}

.aboutTheStudent #photoStudent{
    width: 200px;
    margin: 30px;
    border: 2px solid gray;
}

h2{
    text-align: center;
}
.aboutNVSU{
    text-align:start;
}
.picturesNVSU{
    width: 40%;
    float: right;
    border: 3px solid red;
}
.pictureStepik{
    width:30%;
    float: right;
    
    border: 1px solid blue;
}
table{
    border-collapse: collapse;
    width: 50%;
    height: 50%;
}
table td{
    border: 1px solid black;
    text-align: center;
}

.tableTwo td{
    padding: 50px;
}
.BGColorOne{
    background-color: #00ffc9;
}
.BGColorTwo{
    background-color: #ffffcd;
}
.BGColorThree{
    background-color: #fe0000;
}
.BGColorFour{
    background-color: #0000fe;
}
.BGColorFive{
    background-color: #00ff01;
}
.BGColorSix{
    background-color: #ffff00;
}